<app-navbar/>
    
    <div class="parroquiaContainer">
        <h1>Parroquia La Transfiguración del Señor</h1>

        <div>
            <p><a routerLink="/">Inicio</a> | Parroquia</p>
        </div>
        <p>
            Somos una comunidad que busca acercarse a Dios, aprender de su hijo, y volverse misionera buscando vivir de su palabra, acompañados siempre del Espíritu Santo. Estamos ubicados en el sector sur de la ciudad de Antofagasta y estamos al servicio de la comunidad, entregando lo necesario para vivir y acrecentar la fe.
        </p>
        <p><b>Hay espacio para todos en la casa de Dios</b></p>

        <div class="parroquiaFotos">
            <img *ngFor="let slide of slides" [src]="slide.src" [alt]="slide.alt" />
        </div>
    </div>
<app-footer/>