<app-navbar/>
    <div class="aportesContainer ">
        <h1>Aportes</h1>
        <div>
            <p><a routerLink ='/'>Inicio</a> | Aportes</p>
        </div>
        </div>
        <div class="aportesContainerImage">
            <img src="assets/misa.jpg"/>
        <div class="aportesDetalles">
            <h2>La caridad de Cristo</h2>
            <p>Tu aporte nos ayuda a seguir creciendo</p>
            <p>Banco Santander</p>
            <p>cuenta cte. N°3339505924</p>
            <p>Rut 81.735.106-9</p>
            <p>tuparroquiainformagmail.com</p>
        </div>
    </div>
<app-footer/>