.aportesContainer {
    height: auto;
    width: 100%;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: black;
    box-sizing: border-box; 
    
}

.aportesContainer  h1 {
    margin-bottom: 20px;
    color: rgb(185, 3, 3);
}

.aportesContainer a {
    text-decoration: none;
    color: black;
}



.aportesContainerImage {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    padding: 50px 20px;
    box-sizing: border-box;
}

.aportesContainerImage img {
    height: 75%;
    width: auto;
    border-radius: 14px;
}

.aportesDetalles {
    position: absolute;
    background-color:rgb(159, 42, 42) ;
    height: 40vh;
    width: 600px;
    border-radius: 14px;
    right:15%;
    top:40%;
    border-color: black;
    border: 1px solid rgb(185, 3, 3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.aportesDetalles h2 {
    padding: 0 50px;
    color: white;
}

.aportesDetalles p {
    margin: 0;
    font-size: 1rem;
    color: white;
}

.aportesDetalles p:nth-child(2) {
    margin-bottom: 20px
}

@media (max-width: 1024px) {

    .aportesContainer {
        position: relative;
    }

    .aportesContainer p {
        font-size: 13px;
        width: 100px;
    }

    .aportesContainerImage {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .aportesDetalles {
        position: absolute;
        background-color: white;
        height: 300px;
        width: 350px;
        border-radius: 14px;
        left: 50%; 
        transform: translateX(-50%); 
        border: 1px solid rgb(165, 165, 165);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}