<app-navbar></app-navbar>

<div class="comunion-container">
    <section class="hero-section">
        <h1 class="hero-title">Comunión</h1>
        <p class="hero-subtitle"><a routerLink="/">Inicio</a> | Comunión</p>
    </section>
    <section class="content-comunion">
        <div class="comunion-text">
            <p>
                La comunión es el sacramento que nos permite recibir el Cuerpo y la Sangre de Cristo. Es el culmen de la vida cristiana, ya que nos une de manera íntima con Jesús y nos hace partícipes de su sacrificio.
            </p>
            <p>
                En nuestra parroquia, ofrecemos comuniones para niños y adultos. Si estás interesado en recibir el sacramento de la comunión, por favor contáctanos para más información sobre los requisitos y el proceso de preparación.
            </p>
        </div>
        <div class="comunion-image">
            <img src="assets/comunion.jpg" alt="Comunión" />
        </div>
    </section>
</div>

<app-footer></app-footer>