<app-navbar></app-navbar>

<div class="confesiones-container">
    <section class="hero-section">
        <h1 class="hero-title">Confesiones</h1>
        <p class="hero-subtitle"><a routerLink="/">Inicio</a> | Confesiones</p>
    </section>
    <section class="content-confesiones">
        <div class="confesiones-text">
            <p>
                La confesión es el sacramento que nos permite reconciliarnos con Dios a través del perdón de nuestros pecados. Es un encuentro personal con Jesús, quien nos ofrece su misericordia y nos invita a comenzar de nuevo.
            </p>
            <p>
                En nuestra parroquia, ofrecemos confesiones para niños y adultos. Si estás interesado en recibir el sacramento de la confesión, por favor contáctanos para más información sobre los requisitos y el proceso de preparación.
            </p>
        </div>
        <div class="confesiones-image">
            <img src="assets/confesion.jpg" alt="Confesión" />
        </div>
    </section>
</div>

<app-footer></app-footer>
