<div class='loginContainer'>
    <div class='loginForm'>
        <h1>Parroquia La Transfiguración del Señor</h1>
        <form>
            <div class="inputContainer">
                <input  placeholder='Usuario' type="text" id="username" formControlName="username" required>
            </div>
            <div class="inputContainer">
                <input placeholder='Contraseña' type="password" id="password" formControlName="password" required>
            </div>
            <button mat-raised-button type="submit">Iniciar Sesión</button>
        </form>
    </div>
</div>
