<div class='loginContainer'>
  <div class='loginForm'>
    <h1>Parroquia La Transfiguración del Señor</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="inputContainer">
        <input placeholder='Usuario' type="text" id="username" formControlName="username" required>
      </div>
      <div class="inputContainer">
        <input placeholder='Contraseña' type="password" id="password" formControlName="password" required>
      </div>
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      <button mat-raised-button type="submit" [disabled]="loginForm.invalid">Iniciar Sesión</button>
    </form>
  </div>
</div>