<app-navbar></app-navbar>

<div class="uncion-container">
    <section class="hero-section">
        <h1 class="hero-title">Unción de los enfermos</h1>
        <p class="hero-subtitle"><a routerLink="/">Inicio</a> | Unción de los enfermos</p>
    </section>
    <section class="content-uncion">
        <div class="uncion-text">
            <p>
                La unción de los enfermos es el sacramento que brinda consuelo y fortaleza a aquellos que están gravemente enfermos o en peligro de muerte. A través de este sacramento, se invoca la gracia del Espíritu Santo para sanar y dar paz al enfermo.
            </p>
            <p>
                En nuestra parroquia, ofrecemos este sacramento a quienes lo necesitan. Si estás interesado en recibir la unción de los enfermos, por favor contáctanos para más información sobre los requisitos y el proceso de preparación.
            </p>
        </div>
        <div class="uncion-image">
            <img src="assets/uncion.jpg" alt="Unción de los enfermos" />
        </div>
    </section>
</div>

<app-footer></app-footer><p>uncion works!</p>
