<app-navbar></app-navbar>

<div class="confirmacion-container">
    <section class="hero-section">
        <h1 class="hero-title">Confirmación</h1>
        <p class="hero-subtitle"><a routerLink="/">Inicio</a> | Confirmación</p>
    </section>
    <section class="content-confirmacion">
        <div class="confirmacion-text">
            <p>
                La confirmación es el sacramento que nos fortalece con el don del Espíritu Santo, confirmando nuestra fe y compromiso con Cristo y la Iglesia. Es un paso importante en nuestra vida cristiana, donde reafirmamos nuestras promesas bautismales.
            </p>
            <p>
                En nuestra parroquia, ofrecemos confirmaciones para niños y adultos. Si estás interesado en recibir el sacramento de la confirmación, por favor contáctanos para más información sobre los requisitos y el proceso de preparación.
            </p>
        </div>
        <div class="confirmacion-image">
            <img src="assets/confirmacion.jpg" alt="Confirmación" />
        </div>
    </section>
</div>

<app-footer></app-footer>