<app-navbar/>
   <div class="autoridadesContainer">
        <h1>Pastores</h1>
        <div>
            <p><a href="/">Inicio</a> | Autoridades</p>
        </div>
    </div>
    <div class="autoridadesParroquiales">
        <div class="autoridadesCard">
            <img src="assets/arzobispo.jpg"/>
            <h4>Mons. Ignacio Ducasse</h4>
            <p>Arzobispo</p>
            <p>iducasse&#64;iglesia.cl</p>
        </div>
        <div class="autoridadesCard">
            <img src="assets/padrefrancisco.jpg"/>
            <h4>Pbro. Francisco Álvarez </h4>
            <p>Párroco</p>
            <p>francisco.alvarez.bravo&#64;gmail.com</p>
        </div>
        <div class="autoridadesCard">
            <img src="assets/diacclaudio.jpg"/>
            <h4>Diácono Claudio Pérez</h4>
            <p>Diácono</p>
            <p>diaconoclaudioantof&#64;gmail.com</p>
        </div>
        <div class="autoridadesCard">
            <img src="assets/diacrodolfo.jpg"/>
            <h4>Diácono Rodolfo Henríquez</h4>
            <p>Diácono</p>
            <p>rohenze&#64;gmail.com</p>
        </div>
    </div>
<app-footer/>