<app-navbar></app-navbar>

<div class="bautizos-container">
    <section class="hero-section">
        <h1 class="hero-title">Bautizos</h1>
        <p class="hero-subtitle"><a routerLink="/">Inicio</a> | Bautizos</p>
    </section>
    <section class="content-bautizos">
        <div class="bautizos-text">
            <p>
                El bautizo es el primer sacramento que se recibe en la vida cristiana. Es el sacramento de la iniciación cristiana, que nos hace hijos de Dios y miembros de la Iglesia. A través del bautizo, somos liberados del pecado original y recibimos la gracia santificante.
            </p>
            <p>
                En nuestra parroquia, ofrecemos bautizos para niños y adultos. Si estás interesado en recibir el sacramento del bautizo, por favor contáctanos para más información sobre los requisitos y el proceso de preparación.
            </p>
        </div>
        <div class="bautizos-image">
            <img src="assets/bautizo.jpg" alt="Bautizo" />
        </div>
    </section>
</div>

<app-footer></app-footer>
