<app-navbar></app-navbar>

<div class="matrimonio-container">
    <section class="hero-section">
        <h1 class="hero-title">Matrimonio</h1>
        <p class="hero-subtitle"><a routerLink="/">Inicio</a> | Matrimonio</p>
    </section>
    <section class="content-matrimonio">
        <div class="matrimonio-text">
            <p>
                El matrimonio es el sacramento que une a un hombre y una mujer en una alianza de amor y fidelidad. Es un compromiso sagrado que refleja la unión de Cristo con su Iglesia.
            </p>
            <p>
                En nuestra parroquia, ofrecemos preparación para el matrimonio. Si estás interesado en recibir el sacramento del matrimonio, por favor contáctanos para más información sobre los requisitos y el proceso de preparación.
            </p>
        </div>
        <div class="matrimonio-image">
            <img src="assets/matrimonio.jpg" alt="Matrimonio" />
        </div>
    </section>
</div>

<app-footer></app-footer>
