<app-navbar/>
    <div class="materialesContainer">
          <h1>Materiales</h1>
            <p><a href="/">Inicio</a> | Materiales</p>
          <p>Es fundamental que podamos crecer en el conocimiento de Dios, por medio de las escrituras y también del magisterio, así como de tanta lectura complementaria,
             que nos aporta para profundizar en mi relación y amistad con Dios.</p>
        <div class="materialesSection">
            <div class="section">
              <div class="imageSection">
                <img src="/assets/biblia.jpg" alt="Description 1" />
              </div>
              <div class="descriptionSection">
                <h2>Biblia de Jerusalen </h2>
                <p>Buen material para estudiar y consultar sobre las dudas de la fe. Depende de cada uno de nosotros como queremos acercarnos a Dios y sus enseñanzas. </p>
                <button href="/docs/Bibilia-de-Jersualen.pdf" class="materialButton">Descargar</button>
              </div>
            </div>
            <div class="section">
              <div class="descriptionSection">
                <h2>Catequesis para niños </h2>
                <p>Este material, puede aportar al crecimiento de los niños y ayudarlos para que desde temprano puedan hacerse amigos de Jesús. </p>
                <button href="/docs/Catecismo para nihos - Jose Maria Palomar Garces.pdf" class="materialButton">Descargar</button>
              </div>
              <div class="imageSection">
                <img src="/assets/catequesis.jpg" alt="Description 2" />
              </div>
            </div>
            <div class="section">
              <div class="imageSection">
                <img src="/assets/lib.png" alt="Description 1" />
              </div>
              <div class="descriptionSection">
                <h2>Derecho canónico </h2>
                <p>Lo que nos permite ordenarnos al interior de la Iglesia y la comunidad, son la leyes de la Iglesia al servicio de los que aman al Señor. </p>
                <button href="/docs/CODIGO+DERECHO+CANONICO.pdf" class="materialButton">Descargar</button>
              </div>
            </div>
            <div class="section">
              <div class="descriptionSection">
                <h2>Documento de Aparecida </h2>
                <p>La reflexión de los obispos de América Latina y el Caribe, plasmada en un documento guía para la pastoral de América en estos tiempos de cambio, con un mismo fin: Cristo </p>
                <button href="/docs/Documento_Conclusivo_Aparecida" class="materialButton">Descargar</button>
              </div>
              <div class="imageSection">
                <img src="/assets/dda.jpg" alt="Description 1" />
              </div>
            </div>
        </div>
    </div>
<app-footer/>